$slide-bg-color: #f9f9f9;

$slide-breakpoints: (
    "palm"          "screen and (max-width: 525px)",
    "lap"           "screen and (min-width: 526px) and (max-width: 768px)",
    "lap-and-up"    "screen and (min-width: 769px)",
    "portable"      "screen and (max-width: 768px)",
    "desk"          "screen and (min-width: 769px)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;

@mixin slide-vendor($prop, $val) {
  -webkit-#{$prop}: #{$val};
  -ms-#{$prop}: #{$val};
  -moz-#{$prop}: #{$val};
  -o-#{$prop}: #{$val};
  #{$prop}: #{$val};
}

@mixin slide-media-query($mq) {

    $breakpoint-found: false;

    // Loop through the list of breakpoints we’ve provided in our settings file.
    @each $breakpoint in $slide-breakpoints {

        // Grab the alias and the condition from their respective locations in
        // the list.
        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        // If the media query we’ve specified has an alias and a condition...
        @if $mq == $alias and $condition {

            // ...tell the mixin that we’ve found it...
            $breakpoint-found: true;

            // ...and spit it out here.
            @media #{$condition} {
                @content;
            }

        }

    }

    // If the user specifies a non-exitent alias, send them a warning.
    @if $breakpoint-found == false{
        @warn "Oops! Breakpoint ‘#{$mq}’ does not exist."
    }

}

.slide {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: $slide-bg-color;
  overflow-y: scroll;
  padding-bottom: 100px;
  @include slide-vendor(transition, all 500ms ease);
  will-change: top;
  .rule:after {
    background: $slide-bg-color;
  }
  @include slide-media-query(palm) {
    @include slide-vendor(transform, translateZ(2px));
  }
}

.slide--showing {
  top: 0;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.slide__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0,0,0,0.3);
  font-size: 2em;
  @include slide-media-query(palm) {
    font-size: 40px;
  }
  cursor: pointer;
  &:hover {
    color: #333;
  }
}
